<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading">
        <h3>{{selectedCar.modell}} {{selectedCar.manufacturer}}
            <span class="label label-success">{{selectedCar.price}}€</span>
        </h3>
    </div>

    <div class="panel-body">
        <div class="offer-detail-information-container">
            <div class="offer-detail-image-container">
                <img class="featurette-image img-fluid mx-auto" width="100%" height="315" src="{{imagePath}}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row">
            <div class="col-sm-8">
                <h4>Technische Daten</h4>
                <hr class="featurette-divider">
                <div class="row">
                    <div class="col-sm-3">
                        <b>Hersteller</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.manufacturer}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Leistung</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.ps}} PS</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Modell</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.modell}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Kilometerstand</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.km_driven}} KM</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Baujahr</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.year}}</div>
                </div>

                <br/>
                <br/>

                <div class="row">
                    <div class="col-sm-3">
                        <b>Erstzulassung</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.registration_date}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Farbe</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.colour}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Kategorie</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.category}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Anzahl der Türen</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.number_of_doors}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Kraftstoffart</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.fuel_type}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <b>Beschreibung</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.description}}</div>
                </div>
                <div *ngIf="selectedCar.interiors" class="row">
                    <div class="col-sm-3">
                        <b>Innenausstattung</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.interiors}}</div>
                </div>
                <div *ngIf="selectedCar.safeties !== 'null'" class="row">
                    <div class="col-sm-3">
                        <b>Sicherheit</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.safeties}}</div>
                </div>
                <div *ngIf="selectedCar.extras" class="row">
                    <div class="col-sm-3">
                        <b>Extras</b>
                    </div>
                    <div class="col-sm-4">{{selectedCar.extras}}</div>
                </div>
            </div>

            <div class="col-sm-4">
                <h4>Verkäuferinformationen</h4>
                <hr class="featurette-divider">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{vendorUsername}}
                <br/>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{vendorContactEmail}}
                <br/>
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{vendorType}}
                <br/>

                <h4>Angebotsinformationen</h4>
                <hr class="featurette-divider">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{relatedOffer.description}}
            </div>
        </div>




    </div>

    <div class="panel-footer" style="text-align:right">
        <button type="button" routerLink="" routerLinkActive="active" class="btn btn-default pull-left">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </button>
        <a href="mailto:{{vendorContactEmail}}" type="button" class="btn btn-default">Verkäufer kontaktieren
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a>
        <button type="button" *ngIf="!isFavorite" (click)="setAsFavourite()" class="btn btn-default">Favorisieren
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button type="button" *ngIf="isFavorite" (click)="deleteAsFavourite()" class="btn btn-default">Favorit entfernen
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
    </div>

</div>