<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Mein Konto</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="basic-addon2">E-Mail</label>
      <div class="col-md-4">
        <p>Jetzige Email-Adresse: {{oldMail}}</p>
        <input type="text" name="email" class="form-control" aria-describedby="basic-addon2" [(ngModel)]="benutzer.email">
      </div>
    </div>


    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput">Passwort</label>
      <div class="col-md-4">
        <input id="passwordinput" name="passwordinput" placeholder="Mind. 5 zeichen" type="password" class="form-control input-md"
          [(ngModel)]="benutzer.pw">
      </div>
    </div>

    <!-- Password Wdh. input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput2">Passwort wiederholen</label>
      <div class="col-md-4">
        <input id="passwordinput2" name="passwordinput2" placeholder="Mind. 5 zeichen" type="password" class="form-control input-md"
          [(ngModel)]="password2">
      </div>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label" for="basic-addon2"></label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="submit()">Speichern</button>
      </div>
    </div>
  </fieldset>
</form>