<form style="margin-top:10px" class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Mein Konto</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="basic-addon2">E-Mail ändern</label>
      <div class="col-md-4">
        <p>Jetzige Email-Adresse:
          <b>{{oldMail}}</b>
        </p>
        <input type="text" name="email" class="form-control" aria-describedby="basic-addon2" [(ngModel)]="benutzer.email">
      </div>
    </div>


    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput">Neues Passwort</label>
      <div class="col-md-4">
        <input id="passwordinput" name="passwordinput" placeholder="Mind. 5 zeichen" type="password" class="form-control input-md"
          [(ngModel)]="benutzer.pw">
      </div>
    </div>

    <!-- Password Wdh. input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput2">Neues Passwort wiederholen</label>
      <div class="col-md-4">
        <input id="passwordinput2" name="passwordinput2" placeholder="Mind. 5 zeichen" type="password" class="form-control input-md"
          [(ngModel)]="password2">
      </div>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label" for="basic-addon2"></label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="submit()">Speichern</button>
      </div>
    </div>
  </fieldset>
</form>

<legend>Meine Angebote</legend>
<div>
  <ul>
    <li *ngFor="let car of cars">
      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" width="100%" height="250" src="assets/images/amg_c.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ car.modell }} {{ car.manufacturer }}
            <span class="text-muted price" *ngIf="car.price">{{ car.price }} €</span>
          </h2>
          <ul class="lead infoBox">
            <li *ngIf="car.year"> Baujahr: {{ car.year }}</li>
            <li *ngIf="car.colour"> Farbe: {{ car.colour }}</li>
            <li *ngIf="car.category"> Kategorie: {{ car.category }}</li>
          </ul>
          <ul class="lead">
            <li *ngIf="car.km_driven"> Kilometerstand: {{ car.km_driven }} km</li>
            <li *ngIf="car.ps"> Leistung: {{ car.ps }} PS</li>
            <li *ngIf="car.fuel_type"> Kraftstoffart: {{ car.fuel_type }}</li>
          </ul>
          <button type="button" class="btn btn-primary" (click)="toOffer(car.id)" routerLink="/toOffer/car.id" routerLinkActive="active">Zum Angebot</button>
        </div>
      </div>
      <hr class="featurette-divider">
    </li>
  </ul>
</div>